.menu{
    border: solid green 4px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.home{
    border: solid blue 4px;
    width: 100%;
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    height: 75vh;
}